

<div class="popup margin-confirmation" id="confirmation-popup">
    <div class="popup-inner-parent">
    <div class="popup-inner-child confirmation-popup-wrapper">
        <div class="popup-title">
        <p>Confirm transaction</p>
        </div>
        <div class="popup-text">
        <p>Are you sure you want to continue with this transaction?</p>
        </div>
        <div class="popup-buttons">
        <div class="popup-btn-left">
            <input
            type="button"
            class="btn settings-btn"
            value="Cancel"
            onclick="toggleConfirmationPopup(true)"
            />
        </div>
        <div class="popup-btn-right">
            <input
            type="button"
            class="btn settings-btn"
            value="Confirm"
            onclick="toggleConfirmationPopup(true)"
            />
        </div>
        </div>
    </div>
    </div>
</div>