

<div class="popup margin-edit" id="edit-entry-popup">
    <div class="popup-inner-parent">
    <div class="popup-inner-child edit-entry-popup-wrapper">
        <div class="popup-title">
        <p>Edit record</p>
        </div>
        <div class="popup-text">
            <form action="">
            <div class="row">
                <div class="col-md-6">
                <div class="record-label">
                    <label class="record-label" for="">Tomato #</label>
                </div>
                <div class="record-input">
                    <input class="form-control" type="text" />
                </div>
                </div>
                <div class="col-md-6">
                <div class="record-label">
                    <label class="record-label" for="">Width</label>
                </div>
                <div class="record-input">
                    <input class="form-control" type="text" />
                </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-6">
                <div class="record-label">
                    <label class="record-label" for="">Lenght</label>
                </div>
                <div class="record-input">
                    <input class="form-control" type="text" />
                </div>
                </div>
                <div class="col-md-6">
                <div class="record-label">
                    <label class="record-label" for="">Height</label>
                </div>
                <div class="record-input">
                    <input class="form-control" type="text" />
                </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-6">
                <div class="record-label">
                    <label class="record-label" for="">Weight</label>
                </div>
                <div class="record-input">
                    <input class="form-control" type="text" />
                </div>
                </div>
                <div class="col-md-6">
                <div class="record-label">
                    <label class="record-label" for="">Harvest date</label>
                </div>
                <div class="record-input">
                    <input
                    class="form-control"
                    type="date"
                    value="2021-01-01"
                    id="example-date-input"
                    />
                </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-12">
                <div class="record-label">
                    <label class="record-label" for="">File name</label>
                </div>
                <div class="record-input">
                    <input class="form-control" type="text" />
                </div>
                </div>
            </div>
    
            </form>

        </div>
        <div class="popup-buttons">
        <div class="popup-btn-left">
            <input
            type="button"
            class="btn settings-btn"
            value="Delete"
            onclick="toggleEditEntryPopup(true)"
            />
        </div>
        <div class="popup-btn-right">
            <input
            type="button"
            class="btn settings-btn"
            value="Save"
            onclick="toggleEditEntryPopup(true)"
            />
        </div>
        </div>
    </div>
    </div>
</div>